# Arquivos ignorados por padrão
/shelf/
/workspace.xml
# Ignored default folder with query files
/queries/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Solicitações do HTTP Client com base no editor
/httpRequests/
